<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>日記詳細ページ</title>
</head>
<body>
    <h1>{{ daily.title }}</h1>
    <br>
    <a>{{ daily.created_at }}</a>
    <br>
    <a>{{ daily.content }}</a>
    <br>
    <a href="{% url 'frontpage' %}">Top</a>
    <h2>コメント</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">保存</button>
    </form>
    {% for comment in comments %}
    <p>{{ comment.text }}</p>
    <p>{{ comment.created_at }}</p>
    <form action="{% url 'delete_comment' comment.id %}" method="post" onsubmit="return confirm('本当に削除しますか？');">
        {% csrf_token %}
        <button type="submit">削除</button>
    </form>
    {% endfor %}
</body>
</html>